//Plugins
@import "plugins/select2";
@import "plugins/datepicker";
@import '~bootstrap/scss/bootstrap';
@import "~magnific-popup/src/css/main.scss";
@import "~chart.js/dist/chart.min.css";

// Global
@import 'global/variables';
@import "global/mixins";
@import "global/fonts";

// Modules
@import 'modules/header';
@import 'modules/footer';
@import 'modules/dashboard';
@import 'modules/centerblockform';
@import 'modules/forms';
@import 'modules/tables';
@import "modules/alerts";
@import "modules/cards";

//Elements
@import 'elements/images';
@import 'elements/titles';
@import 'elements/buttons';
@import "elements/icons";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}
