.btn.btn-primary{
  background-color: transparent;
  border: 2px solid #1c7430;
  color: #212529;
  font-weight: 600;

  &:hover{
    border: 2px solid #1db640;
    background-color: transparent;
    color: #212529;
  }
  &:focus, &:active:not(:disabled):not(.disabled){
    border: 2px solid #1db640;
    background-color: transparent;
    color: #212529;
    box-shadow: none;
  }
}

.btn-back-type-1{
  color: #1c7430;
  font-weight: 600;
  margin-left: 24px;
  line-height: 24px;
  display: inline-block;
  height: 24px;
  position: relative;

  &:hover, &:focus{
    text-decoration: none;
    color: #1c7430;
  }

  &:before{
    content: "";
    @include bg('icons/arrow_right_green.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;

    height: 24px;
    width: 24px;
    position: absolute;
    left: -24px;
    top: 0;

    transform: rotate(90deg);

  }
}

a{
  color: #212529;
  &:hover{
    color: #212529;
  }
}


.tp-btn-type-1 {
  height: 35px;
  line-height: 32px;
  border: 2px solid #1c7430;
  border-radius: 100px;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background: transparent;
  color: #212529;
  display: block;
  transition: 0.3s;
  text-align: center;
  i{
    transition: 0.3s;
  }

  font-weight: 600;

  &:focus {
    outline: 0;
  }
  &:hover {
    transition: 0.3s;
    text-decoration: none;

    border: 2px solid #1db640;
    background-color: transparent;
    color: #1db640;

    i{
      transition: 0.3s;
      &.add-green-circle{
        @include bg('icons/add_bright_green.svg');
      }
    }

  }
}