i{
  position: relative;
  left: -4px;
  top: 5px;
  margin-top: -10px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;

  &.user{
    @include bg('icons/user.svg');
  }

  &.add-green-circle{
    @include bg('icons/add_green.svg')
  }
}