.image-type-1{
  width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  object-fit: cover;
}

.image-type-2{
  width: auto;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto 20px auto;
  display: block;
}

.image-type-3{
  height: 200px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.full-image-link{
  //position: absolute;

  &:hover{
    &:after{
      content: "";
      @include bg('icons/search.svg');
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-position: center;
      height: 100px;
      width: 100px;
      position: absolute;
      left: calc( 50% - 50px );
      top: calc( 50% - 50px );
      opacity: 0.5;
    }
  }
}