h2{
  margin-bottom: 2rem;
  font-weight: bold;
}

h3{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1c7430;
}

h4{
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

p{
  word-break: break-word;
}