.card-holder{
  padding: 0;
  list-style: none;
}



.animal-sickness-card{
  background-color: #f6f6f6;
  border: 2px solid #1c7430;
  padding: 10px;

  font-size: 0.7rem;
  font-weight: 500;

  b{
    font-size: 0.9rem;
    font-weight: 600;
  }

  .description{
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.appear-card-type-1{
  display: none;
}