.centralblockform{
    display: flex;
    min-height: inherit;
    .contentbox{
        background-color: #ffffff;
        //width: 300px;
        margin: auto;
        padding: 10px;

        border: 1px solid #f1f1f1;

        //-webkit-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);
        //-moz-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);
        //box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);

        .tp-btn-type-1{
            margin: 10px auto;
        }
    }
}
.errorfield{
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.succesful{
    background-color: darkgreen;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
