.dashboard{
    min-height: 80vh;
}

.base-section{
    background-color: #ffffff;

    padding-top: 20px;
    padding-bottom: 20px;
}

.container-type-1{
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }


    .content{
        margin-left: 20px;
        @media (min-width: 768px) {
            flex: 1;
        }

    }

    .sidebar{
        width: 100%;
        @media (min-width: 768px) {
            width:200px;
        }
    }
}

.shelter-box-type-1{
    padding: 20px;
    background-color: #f6f6f6;
    border:2px solid #1c7430;
}

.full-page-cover{
    height: 75vh;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container-type-2{
    margin-bottom: 2rem;
}

.sidebar{
    .sidebar-title{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul{
        list-style: none;
        padding: 0 0 0 0;

        li{
            display: block;
            height: 40px;
            line-height: 30px;
            padding: 5px 0;

            .active{
                font-weight: 600;
            }

            a{
                display: block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: #212529;

                &:hover{
                    font-weight: 600;
                    background-color: #f1f1f1;
                }
            }
        }
    }
}

.sidebar-type-2{
    list-style: none;
    padding: 0;
    margin-top: 30px;

    li{
        a{
            font-weight: 500;
            display: block;
            min-height: 32px;
            font-size: 16px;
            margin-bottom: 10px;
            position: relative;
            padding-bottom: 5px;
            padding-right: 23px;

            &:focus, &:hover{
                text-decoration: none;
            }

            &:after{
                content: "";
                @include bg('icons/arrow_right_green.svg');
                background-position: center;
                background-size: 14px 14px;
                background-repeat: no-repeat;
                position: absolute;
                height: 100%;
                width: 20px;
                top: 0;
                right: 0;
                transition: 0.3s;
                transform: rotate(-90deg);
            }
            &:before{
                content: "";
                position: absolute;
                height: 3px;
                width: 30%;
                background-color: #1c7430;
                bottom: 0;
                transition: 0.3s;
            }

            &:hover{
                &:before{
                    width: 60%;
                    transition: 0.3s;
                }
                &:after{
                    transform: rotate(0deg);
                    transition: 0.3s;
                }
            }
        }
    }
}