.tp-input-type-1 {
  height: 35px;
  border: 1px solid $grayline;
  //border-radius: 100px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  &:focus {
    outline: 0;
  }
}

.tp-textarea-type-1 {
  height: 200px;
  border: 1px solid $grayline;
  width: 100%;
  padding: 10px;

  &:focus{
    outline: 0;
  }
}

.parsley-errors-list {
  color: $errorred;
  font-weight: 500;
  list-style: none;
}

//File inputs
[data-file-closed] {
  display: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {

  font-family: "Montserrat", sans-serif;
  background-color: transparent;

  max-width: 80%;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  height: 35px;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 35px;
  border-radius: 30px;

  transition: 0.3s;
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 1 */

.inputfile-1 + label {
  color: #212529;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #a9a7a7;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #f1f1f1;
  outline: none;
  transition: 0.3s;
}

.tp-select2-type-1 {
  width: 100%;
}

.select2-container {
  .select2-dropdown {
    .select2-search {
      .select2-search__field {
        &:focus {
          outline: none;
        }
      }
    }

    .select2-results {
      .select2-results__option {
        &.select2-results__option--highlighted {
          background-color: #23992f;
        }
      }
    }
  }
}

.select2 {
  .select2-selection {
    height: 35px;
    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      height: 34px;
      line-height: 34px;

      font-size: 14px;
      font-family: Montserrat, sans-serif;

      padding-right: 30px;
      &:focus {
        outline: none;
      }
    }

    .select2-selection__arrow {
      height: 34px;
      b{
        display: none;
      }

      @include bg('icons/arrow_right_green.svg');
      background-size: 17px 17px;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
    }
  }

  &.select2-container--open {
    .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }
}