.header-logo{
    width: 150px;
    @media (min-width: 768px) {
        width: 250px;
    }
}
.header-row{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #1c7430;

    min-height: 10vh;
    background-color: #f8fafc;

    .navbar{
        .navbar-collapse{
            .nav-item{
                .nav-link{
                    color: #1c7430;
                    font-weight: 600;
                }
            }
        }

        .navbar-toggler{
            .navbar-toggler-icon{
                @include bg('header/menu_close.svg');
                background-size: 20px 20px;
            }
            &.collapsed{
                .navbar-toggler-icon{
                    @include bg('header/menu.svg');
                    background-size: 24px 24px;
                }
            }
            &:focus{
                outline: 0;
            }
        }
    }
}

.worker-navbar{
    border-bottom: 2px solid #1c7430;
    background-color: #f8f9fa;

    .navbar{
        .navbar-toggler{
            .navbar-toggler-icon{
                @include bg('header/menu_close.svg');
                background-size: 20px 20px;
            }
            &.collapsed{
                .navbar-toggler-icon{
                    @include bg('header/menu.svg');
                    background-size: 24px 24px;
                }
            }
            &:focus{
                outline: 0;
            }
        }
    }
}

