.table-type-1{

  padding-bottom: 30px;

  table{
    width: 100%;
    thead{
      tr{
        background-color: #1c7430;
        height: 50px;
        th{
          padding-left: 10px;
          color: #f1f1f1;
        }
      }
    }
    tbody{
      tr{
        td{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        &:hover{
          background-color: #f1f1f1;
        }
      }
    }
  }

  .table-image{
    height: 80px;
    width: 200px;
    object-fit: cover;
  }



  @media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align:left;

      .table-image{
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }

    /*
    Label the data
    */
    //td:before {
    //  content: attr(data-title);
    //}
  }
}

.animal-table-type-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .animal-card{
    width: 250px;
    padding: 10px;
    transition: 0.3s;

    .animal-image{
      img{
        height: 200px;
        width: 200px;
        object-fit: cover;
      }
    }

    .animal-name{
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    &:hover{
      background-color: #f6f6f6;
      transform: scale(1.05);
      transition: 0.3s;
    }

  }

}

.animal-table-type-2{
  @extend .animal-table-type-1;

  .animal-card{
    width: 220px;
  }
}

.disease-table-type-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #f6f6f6;
  border:2px solid #1c7430;
  padding: 10px;


  .part-1{
    width: 100%;
    padding: 10px;

    .title{
      font-size: 0.7rem;
      font-weight: 500;
    }

    .disease{
      font-size: 0.9rem;
      font-weight: 600;
    }

    @media (min-width: 1200px) {
      width: 60%;
      order: 1;
    }
  }

  .part-2{
    width: 100%;
    padding: 10px;

    .title{
      font-size: 0.7rem;
      font-weight: 500;
    }

    .description{
      font-size: 0.8rem;
      font-weight: 600;
    }

    @media (min-width: 1200px) {
      order: 3;
    }
  }

  .part-3{
    width: 100%;
    padding: 10px;

    .diagnosis{
      font-size: 0.6rem;
      font-weight: 500;
    }

    @media (min-width: 1200px) {
      width: 40%;
      order: 2;

      .diagnosis{
        text-align: right;
      }
    }
  }
}

.action-history-table-type-1{
  .action-head{
    display: flex;
    height: 40px;

    font-weight: 600;
    font-size: 1.1rem;

    .name{
      min-width: 102px;
      max-width: 102px;
    }

    .action{
      flex-grow: 1;
    }

    .date{
      min-width: 100px;
      max-width: 100px;
    }
  }

  .history-actions-container{
    max-height: 250px;
    overflow-y: scroll;

    .action-row{

      display: flex;
      min-height: 30px;
      margin-bottom: 10px;
      padding-bottom: 10px;

      font-weight: 500;
      font-size: 0.8rem;

      border-bottom: 2px solid #1c7430;

      .name{
        min-width: 102px;
        max-width: 102px;
        font-weight: 600;
        overflow-wrap: break-word;
      }

      .action{
        flex-grow: 1;
        padding-right: 10px;
        padding-left: 10px;
        overflow-wrap: break-word;
      }

      .date{
        min-width: 100px;
        max-width: 100px;
        text-align: center;
      }
    }
  }


}