/* montserrat-300 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/Montserrat/montserrat-v13-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}