@mixin bg ($file) {
  background-image: url("/svg/#{$file}");
}

@mixin spacer($point, $direction, $values) {
  @each $amount in $values {
    .spacer-#{$point}-#{$direction}-#{$amount} {
      @if $point == xl {
        @media (min-width: 1200px) {
          @if $direction == top {
            margin-top: #{$amount}px;
          } @else if ($direction == bottom) {
            margin-bottom: #{$amount}px;
          } @else if ($direction == left) {
            margin-left: #{$amount}px;
          } @else if ($direction == right) {
            margin-right: #{$amount}px;
          }
        }
      } @else if $point == lg {
        @media (min-width: 992px) {
          @if $direction == top {
            margin-top: #{$amount}px;
          } @else if ($direction == bottom) {
            margin-bottom: #{$amount}px;
          } @else if ($direction == left) {
            margin-left: #{$amount}px;
          } @else if ($direction == right) {
            margin-right: #{$amount}px;
          }
        }
      } @else if $point == md {
        @media (min-width: 768px) {
          @if $direction == top {
            margin-top: #{$amount}px;
          } @else if ($direction == bottom) {
            margin-bottom: #{$amount}px;
          } @else if ($direction == left) {
            margin-left: #{$amount}px;
          } @else if ($direction == right) {
            margin-right: #{$amount}px;
          }
        }
      } @else if $point == sm {
        @if $direction == top {
          margin-top: #{$amount}px;
        } @else if ($direction == bottom) {
          margin-bottom: #{$amount}px;
        } @else if ($direction == left) {
          margin-left: #{$amount}px;
        } @else if ($direction == right) {
          margin-right: #{$amount}px;
        }
      } @else if $point == xs-only {
        @media (max-width: 767px) {
          @if $direction == top {
            margin-top: #{$amount}px;
          } @else if ($direction == bottom) {
            margin-bottom: #{$amount}px;
          } @else if ($direction == left) {
            margin-left: #{$amount}px;
          } @else if ($direction == right) {
            margin-right: #{$amount}px;
          }
        }
      }
    }
  }
}

@include spacer(xs-only, top, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(sm, top, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(md, top, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(lg, top, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(xl, top, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);

@include spacer(xs-only, bottom, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(sm, bottom, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(md, bottom, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(lg, bottom, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(xl, bottom, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);

@include spacer(xs-only, left, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(sm, left, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(md, left, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(lg, left, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(xl, left, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);

@include spacer(xs-only, right, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(sm, right, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(md, right, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(lg, right, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);
@include spacer(xl, right, 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 110 120 130 140);